
@media only screen and (max-width:500px){
      body{
        background-color: rgb(41, 81, 81);
      }
      
        nav{
            display: block;
            justify-content: space-between;
    align-items: center;
    max-width: 15vh;
    margin: auto;
        }
    
}